.stats {
  display: flex;
  justify-content: space-between;
      flex-wrap: wrap;
  margin-bottom: 100px;
  div {
    width: 33%;
    .green {
      span {
        background: $limeGreen;
        padding: 5px 10px;
        border-radius: 50px;
      }
    }
    .pink {
      span {
        background: $brightPink;
        padding: 5px 10px;
        border-radius: 50px;
      }
    }
    .yellow {
      span {
        background: $yellow;
        padding: 5px 10px;
        border-radius: 50px;
      }
    }
  }
}


// responsive CSS 
@include max-width(1060){
  .stats {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    div {
      width: 100%;
      margin-top: 30px ;
    }
  }
}