@import "./setup.scss";
@import "./breakpoints.scss";
@import "./colors.scss";
@import "./fonts";
@import "./header.scss";
@import "./about.scss";
@import "./stats.scss";
@import "./benefits.scss";
@import "./carousel.scss";
@import "./contact.scss";

html {
  background: $wheat;
  text-align: center;
  font-size: 62.5%;
  width: 85%;
  margin: 0 auto;
  max-width: 1080px;
  @include max-width(850){
    width: 95%;
  }
}

